<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Categories</key>
	<array>
		<string>sticker_category_baloon</string>
		<string>sticker_category_bird</string>
		<string>sticker_category_flower</string>
		<string>sticker_category_gift</string>
		<string>sticker_category_lips</string>
		<string>sticker_category_love</string>
	</array>
	<key>StickerItems</key>
	<dict>
		<key>sticker_category_baloon</key>
		<array>
			<string>sticker_baloon_0</string>
			<string>sticker_baloon_1</string>
			<string>sticker_baloon_2</string>
			<string>sticker_baloon_3</string>
			<string>sticker_baloon_4</string>
			<string>sticker_baloon_5</string>
			<string>sticker_baloon_6</string>
			<string>sticker_baloon_7</string>
			<string>sticker_baloon_8</string>
			<string>sticker_baloon_9</string>
			<string>sticker_baloon_10</string>
			<string>sticker_baloon_11</string>
			<string>sticker_baloon_12</string>
			<string>sticker_baloon_13</string>
		</array>
		<key>sticker_category_bird</key>
		<array>
			<string>sticker_bird_0</string>
			<string>sticker_bird_1</string>
			<string>sticker_bird_2</string>
			<string>sticker_bird_3</string>
			<string>sticker_bird_4</string>
			<string>sticker_bird_5</string>
			<string>sticker_bird_6</string>
			<string>sticker_bird_7</string>
			<string>sticker_bird_8</string>
			<string>sticker_bird_9</string>
			<string>sticker_bird_10</string>
			<string>sticker_bird_11</string>
			<string>sticker_bird_12</string>
			<string>sticker_bird_13</string>
			<string>sticker_bird_14</string>
			<string>sticker_bird_15</string>
			<string>sticker_bird_16</string>
			<string>sticker_bird_17</string>
			<string>sticker_bird_18</string>
			<string>sticker_bird_19</string>
		</array>
		<key>sticker_category_flower</key>
		<array>
			<string>sticker_flower_0</string>
			<string>sticker_flower_1</string>
			<string>sticker_flower_2</string>
			<string>sticker_flower_3</string>
			<string>sticker_flower_4</string>
			<string>sticker_flower_5</string>
			<string>sticker_flower_6</string>
			<string>sticker_flower_7</string>
			<string>sticker_flower_8</string>
			<string>sticker_flower_9</string>
			<string>sticker_flower_10</string>
			<string>sticker_flower_11</string>
			<string>sticker_flower_12</string>
			<string>sticker_flower_13</string>
			<string>sticker_flower_14</string>
			<string>sticker_flower_15</string>
		</array>
		<key>sticker_category_gift</key>
		<array>
			<string>sticker_gift_0</string>
			<string>sticker_gift_1</string>
			<string>sticker_gift_2</string>
			<string>sticker_gift_3</string>
			<string>sticker_gift_4</string>
			<string>sticker_gift_5</string>
			<string>sticker_gift_6</string>
			<string>sticker_gift_7</string>
			<string>sticker_gift_8</string>
			<string>sticker_gift_9</string>
			<string>sticker_gift_10</string>
			<string>sticker_gift_11</string>
		</array>
		<key>sticker_category_lips</key>
		<array>
			<string>sticker_lips_0</string>
			<string>sticker_lips_1</string>
			<string>sticker_lips_2</string>
			<string>sticker_lips_3</string>
			<string>sticker_lips_4</string>
			<string>sticker_lips_5</string>
			<string>sticker_lips_6</string>
			<string>sticker_lips_7</string>
			<string>sticker_lips_8</string>
			<string>sticker_lips_9</string>
			<string>sticker_lips_10</string>
			<string>sticker_lips_11</string>
		</array>
		<key>sticker_category_love</key>
		<array>
			<string>sticker_love_0</string>
			<string>sticker_love_1</string>
			<string>sticker_love_2</string>
			<string>sticker_love_3</string>
			<string>sticker_love_4</string>
			<string>sticker_love_5</string>
			<string>sticker_love_6</string>
			<string>sticker_love_7</string>
			<string>sticker_love_8</string>
		</array>
	</dict>
</dict>
</plist>
